# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=7b31a58498c8c5a507ef221371056048a375a5051279b91a7861c5a2521b5b77cd379b0f4cbe6cd019d5977eb6eac2aea67547b10736ddecc8d24070e05b21e3
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
